.body{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Bad Script', sans-serif;
    background-color: oldlace;
}

.menu {
  list-style: none;
  padding-left: 0px;
  width: 80%;
  font-size: 18px;
  background: chocolate;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin-right: 40px;
  color: white;
  align-items: center;

}

.menu a {
  text-decoration: none;
  padding: 20px;
  align-items: center;

}

.menu a:hover {
  background-color: white;
}

.card-title{
    font-family: 'staatliches', sans-serif;
}

